services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "18080:80/tcp"
    environment:
      # Pi-hole v6 FTL Configuration
      FTLCONF_dns_listeningMode: 'all'
      FTLCONF_dns_bogusPriv: 'false'
      FTLCONF_dns_domainNeeded: 'true'
      FTLCONF_webserver_api_password: '${ADMIN_PASSWORD:-admin}'
      FTLCONF_misc_etc_dnsmasq_d: 'true'
      FTLCONF_webserver_interface_theme: 'default-light'
      FTLCONF_dns_queryLogging: 'true'

      # Persistence helper for legacy lookups if needed
      DNS1: '8.8.8.8'
      TZ: 'UTC'
      VIRTUAL_HOST: 'pihole'
      ServerIP: '0.0.0.0'
    volumes:
      - './etc-pihole:/etc/pihole'
      - './etc-dnsmasq.d:/etc/dnsmasq.d'

    cap_add:
      - NET_ADMIN
    restart: unless-stopped
    networks:
      - pihole_network
    dns:
      - 8.8.8.8

networks:
  pihole_network:
    driver: bridge
