services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "18080:80/tcp"
    environment:
      TZ: 'UTC'
      DNS1: '8.8.8.8'
      VIRTUAL_HOST: 'pihole'
      ServerIP: '0.0.0.0'
      REV_SERVER: 'false'
      REV_SERVER_DOMAIN: ''
      REV_SERVER_TARGET: ''
      REV_SERVER_CIDR: ''
      DNSSEC: 'true'
      DNS_BOGUS_PRIV: 'false'
      WEBTHEME: 'default-light'
      QUERY_LOGGING: 'true'
      CONDITIONAL_FORWARDING: 'false'
      WEBPASSWORD: 'admin'
      # Allow queries from all networks
      ALLOW_LOCAL: 'true'
      ALLOW_NONLOCAL: 'true'
      ALLOW_PRIVATE: 'true'
      ALLOW_NONPRIVATE: 'true'
    volumes:
      - './etc-pihole:/etc/pihole'
      - './etc-dnsmasq.d:/etc/dnsmasq.d'

    cap_add:
      - NET_ADMIN
    restart: unless-stopped
    networks:
      - pihole_network
    dns:
      - 8.8.8.8

networks:
  pihole_network:
    driver: bridge
